<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="css/round-about.css" rel="stylesheet"> -->

  </head>

  <body>


    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
    <!-- Team Members Row -->
      <div class="row">
        <!-- <div class="col-lg-12">
          <h2 class="my-4">My Team</h2>
        </div> -->


        <div class="col-lg-4 col-sm-6 text-center mb-4">

          <img class="img-circle img-fluid d-block mx-auto" style="height:300px;width: 300px" src="assets\image\16807792_833207796820204_3144936117578313933_n.jpg" alt="">
          <h3>Shyam Patel

          </h3>
       </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <h2>Go here for Find me..</h2>
            <h3 class="glyphicon glyphicon-arrow-down"></h3>
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7360.74104381851!2d72.85079193170527!3d22.714465633474404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e5b79e87c33db%3A0x6d0b3b675491acba!2sManjipura+Rd%2C+Nadiad%2C+Gujarat+387002!5e0!3m2!1sen!2sin!4v1517394220205"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">

        <p class="m-0 text-center text-white">Copyright &copy; Red Rose 2018</p>

      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  </body>

</html>
