img{
  align-items: center;
}
h2{
  color: black
}
p{
  text-decoration-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-style: dotted;
   font-size: 16px;;
}
