<h2 align="center">Creativity</h2>

<img align="center" src="https://cdn-images-1.medium.com/max/1920/1*UMsG3LGMxocow73__5orvQ.jpeg" height="300" width="1000" alt="">
<p>  <mark>
    Creativity </mark> is a phenomenon whereby something new and somehow valuable is formed through human activity. The created item may be intangible (such as an idea, a scientific theory, a musical composition, or a joke) or a physical object (such as an invention, a literary work, or a painting).

    Scholarly interest in creativity involves many definitions and concepts pertaining to a number of disciplines: engineering, psychology, cognitive science, education, philosophy (particularly philosophy of science), technology, theology, sociology, linguistics, business studies, songwriting, and economics, covering the relations between creativity and general intelligence, mental and neurological processes, personality type and creative ability, creativity and mental health; the potential for fostering creativity through education and training, especially as augmented by technology; the maximization of creativity for national economic benefit, and the application of creative resources to improve the effectiveness of teaching and learning.
  </p>

